.add-carving-h2 {
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.form-wrapper > form {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
  padding-left: 15px;

}

.form-inputs > input {
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
  border-color: sandybrown;
  outline-color: saddlebrown;
  width: 100%;
  height: 30px;
  margin-left: 7px;
  padding-left: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  color: gray;
}

.price-input {
  padding-left: 15px;
  margin-top: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #1a1414;
}

.image-input {
  padding-left: 15px;
  margin-top: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #1a1414;
}

#file-label {
  text-align: start;
  margin-left: 9px;
}

#file-input {
  border-radius: 0;
}

.radio-input {
  color: white;
}

.radio-input > input {
  margin-right: 5px;
}

.img-select {
  height: 30px;
  margin-bottom: 15px;
  outline-color: saddlebrown;
  border-radius: 20px;
  border-color: sandybrown;
  width: 100%;
}

.textarea-label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.textarea {
  padding: 10px;
  width: 575px;
  height: 131px;
  margin-left: 7px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.textarea:focus {
  outline-color: saddlebrown;
}